@model List<Producto>
@{
    string Idsession = Context.Session.GetString("Usuario"); 
    List<int> idsProductos = Context.Session.GetObject<List<int>>("IdProductos");
    
    decimal total = 0;
    @if(Model != null)
    {
        foreach (Producto pro in Model)
        {
            total += pro.Precio;
        }
    }
  

}


@if (Context.Session.GetObject<List<int>>("IdProductos") == null)
{
    <h1>No hay productos</h1>
}
@if (Model != null)
{
    <table class="table table-info">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>

                
            </tr>
        </thead>
        <tbody>
            @foreach (Producto pro in Model)
            {
                <tr>
                    <td>@pro.Nombre_producto</td>
                    <td>@pro.Precio €</td>
                    @*<td><button class="BotonBorrar" value="@pro.IdProducto">Borrar</button></td>*@
                    <td><a asp-controller="Carta" asp-action="CarritoProductos" asp-route-ideliminar="@pro.IdProducto" >Borrar</a></td>
                </tr>
            }
        </tbody>
    </table>
    <h1> Total @total</h1>
    <h2>ID Usuario session = @Idsession</h2>
    <a asp-controller="Carta" asp-action="CrearPedido" asp-route-iduser="@Idsession">Crear Pedido </a>
}
@section Scripts{
 <script>
        //$(document).ready(function () {
        //    $(".BotonBorrar").click(function () {
        //        var idProd = $(this).val();
        //        console.log(idProd)
        //    $.get("/Carta/CarritoProductos", { ideliminar: idProd });
        //    window.location.reload();
        //    });
        //});
    </script>
}