@model UsuarioPedido
@if (Model != null)
{

    <h1>@Model.UserPedido.Nombre_cliente</h1>
    <h2>@Model.UserPedido.Telefono</h2>
    <h2>@Model.UserPedido.Telefono</h2>



    <ul>
        @foreach (Producto prod in Model.ListaPedido)
        {
            <li>Nomnre - @prod.Nombre_producto  Precio- @prod.Precio</li>
        }
    </ul>
}
<a asp-controller="Carta" asp-action="FinalizarPedido" >Finalizar Pedido</a><br />
<a asp-controller="Carta" asp-action="CancelarPedido">CancelarPedido Pedido</a>