@using System.Security.Claims;
@{
    string Idsession = Context.Session.GetString("Usuario");
    string IdUser = Context.User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<h1>Perfil Doctor: @Context.User.Identity.Name</h1>
<ul class="list-group">
    <li class="list-group-item">
        Email: @Context.User.FindFirstValue(ClaimTypes.Email)
    </li>
    <li class="list-group-item">
        Salario: @Context.User.FindFirstValue("Direccion")
    </li>
</ul>
<h2>Todos los Claims</h2>
<ul>
    @foreach (Claim claim in Context.User.Claims)
    {
            <li>
            @claim.Type: <b>@claim.Value</b>
            </li>
    }
</ul>
<h2>ID Usuario session = @IdUser</h2>