@model Restaurante
@section Style{
    <link rel="stylesheet" href="~/css/RestauranteStyle.css" />
}
@if (Model != null){
<div class="fondoRestaurante">
        <img src="~/images/@Model.Imagen" />
            <div class="datosRestaurante">
        <section class="restaurante">
              <h1>@Model.Nombre_restaurante</h1>
              <span>@Model.Id_categoria</span>
              <span>@Model.Direccion</span>
              <span>@Model.Telefono</span>
        </section>
    </div>
</div>
    <div id="menu" class="menu"></div>
}
@section Scripts{
    <script>
        $(document).ready(function () {
            var idRest = @Model.IdRestaurante;
            var request = "/Carta/_ListaProductos?idrestaurante=" + idRest;
            $("#menu").load(request);
        })
    </script>
  }